$linkedinBlue1:#0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3:#4c62e0;

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  height: 100vh;
}

.login-btn {
    cursor: pointer;
    width: 300px;
    height: 50px;
    background-color: $linkedinBlue2;
    border-radius: 30px;
    outline: none;
    border: none;
    font-family: system-ui;
    font-weight: 600;
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
}
.login-btn:hover {
background-color: $linkedinBlue3;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    

  }
  
  .linkedinlogo {
    width: 80px;
  }
 

  .register-wrapper {
    background-color: #ffffff;
    height: 100vh;
    .heading {
      color: rgba(0, 0, 0, 0.9);
      font-family: system-ui;
      font-weight: 500;
    }
    .sub-heading {
      margin-top: -20px;
      font-family: system-ui;
      color: gray;
    }
    .register-wrapper-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  

.google-button-container {
       display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

}



.join-now {
  color: $linkedinBlue1;
  font-family: system-ui;
  cursor: pointer;
}

.go-to-signup {
  margin-left:50px;
 color: #212121;
 font-family: system-ui;
 font-size: 18px;
}